<% include ../views/partials/header %>
<div class="container">
<a class="btn btn-primary btn-sm" href="/" style="margin-top:1rem;">Go Back</a>

<h1><i class="fa fa-user" style="margin-top:1rem;">&nbsp;<%= name %></i></h1>
<% if (city) { %>
<h4><i class="fa fa-map-marker">&nbsp;&nbsp;Birthplace: <%= city %>, <%= state %></i></h4>
<% } %>

<h4 style="margin-top:1rem;">Friends</h4>
<% if (friends.length > 0) { %>
<ul class="list-group">
    <% friends.forEach(person => { %>
        <li class="list-group-item"><i class="fa fa-smile-o"><a href="/person/<%= person.id %>">&nbsp;&nbsp;<%= person.name %></a></i></li>
    <% }); %>
</ul>
<% } else { %>
    <h4>Make some friends!</h4>
<% } %>

<h3 style="margin-top:1rem;">Add Friend</h3>
<form method="POST" action="/friends/connect" style="margin-top:1rem;">
    <input type="hidden" name="name1" value="<%= name %>">
    <input type="hidden" name="id" value="<%= id %>">
    <input type="text" name="name2" placeholder="Name">
    <input type="submit" value="Submit" class="btn btn-secondary btn-sm">
</form>

<% if (!city) { %>
<h3 style="margin-top:1rem;">Add Birthplace</h3>
<form method="POST" action="/person/born/add" style="margin-top:1rem;">
    <input type="hidden" name="name1" value="<%= name %>">
    <input type="hidden" name="id" value="<%= id %>">
    <input type="text" name="name2" placeholder="City">
    <input type="text" name="state" placeholder="State">
    <input type="text" name="year" placeholder="Year">
    <input type="submit" value="Submit" class="btn btn-secondary btn-sm">
</form>
<% } %>
</div>

<% include ../views/partials/footer %>