<% include ../views/partials/header %>

<%= name %>

Birthplace: <%= city %>, <%= state %>

<ul>
    <% friends.forEach(person => { %>
        <li><a href="/person/<%= person.id %>"><%= person.name %></a></li>
    <% }); %>
</ul>

<% include ../views/partials/footer %>